:root {
    --colorLight: hsl(331, 43%, 80%);
    --colorMain: hsl(331, 44%, 63%);
    --colorDark: hsl(331, 44%, 35%);
}

.main {
    background: var(--colorMain);
    height: 300px;
    width: 400px;
}