:root {
<<<<<<< HEAD
  --colorLight: hsl(331, 43%, 80%);
  --colorMain: hsl(331, 44%, 63%);
  --colorDark: hsl(331, 44%, 35%);
=======
    --colorNeon: #E6FB09;
    --colorMain: #5B1691;
    /* --colorDark: hsl(331, 44%, 35%); */

    --neutralLight: white;
    --neutralDark: black;
>>>>>>> 6c4de7411c0c2ea9cb5143dcb11482a7e04d60fa
}
